# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
Linux*
Darwin*

# Config file
config.json

# Test binary, build with `go test -c`
*.test

# Output
*.out
duplicates.json

# IDEA configuration files
*.iws
*.iml
*.ipr
.idea/
